<div class='large-6 large-offset-2 columns'></div> <%= result.title %>
<div class='large-2 right'></div> <%= result.users_rating %>
<div class='large-5 large-offset-3 columns'></div> <%= result.description %>