<style type="text/css">
	body {
		background-color: #16A085;
	}
</style>
<div class='row'>
	<div class='row'>
		<h3 id="query" class='large-5 columns'>I WANT... <span><%= @query %></span></h3>
	</div>
	<div class='row'>
		<hr class='large-5 columns'>
	</div>
	<% @results.each do |result| %>	
		<%= render partial: 'result', object: result %>
	<% end %>
</div>




