<style type="text/css">
	body {
		background-color: #16A085;
	}
</style>
<div class='row'>
	<div id="query" class='large-5 columns'>Search Query</div>
	<% @results.each do |result| %>	
		<% render partial: 'result', object: result %>
	<% end %>
</div>




