<style>
	body {
			background-color: #16A085;
	}
</style>

<div class="row">
	<div class="large-6 large-offset-3 columns round cloudy-blue">
		<h3>Welcome</h3>
		<p>If signing up or password forgotten, just plop in your email and leave the password field blank.</p>
		<p>We will send you a link with instructions.</p>
	</div> <!-- end large-4 columns -->
	<div class="large-8 large-offset-1 columns login">
		<form action="/login" method="POST">
			<%= token_tag form_authenticity_token %>
			<p class='large-12 column'>
				<input type="text" id="email" name="email" placeholder="Email address" class='large-4 column'>
			</p>
			<p class='large-12 column'>
				<input type="password" id="password" name="password" placeholder="password" class='large-4 column'>
				<input type="button" id="toggle-password-field" class="large-3 button alert postfix" value="Show Password">
			</p>
			<p class='large-12 column'>
				<input type="submit" class=" button">
			</p>
		</form>
	</div> <!-- end 8 columns -->
</div> <!-- end row -->
