<style>
 li span {
 	font-style: italic
 }
 li:first-child {

 }
</style>

<% if @comments.length == 0 %>
	<ul>
		<li>No users have commented on this ritual yet.</li>
	</ul>
<% else %>
	<% @comments.each do |c| %>
	<ul>
		<li>"<%= c.comment %>"</li>
		<% user = User.find(c.user_id) %>
		<li class='right'>--&nbsp<span><%= c.user.name %></span></li>
	</ul>
	<% end %>
<% end %> 