<div class='step_description'>
	<ul>
		<li><span class='step_key'>Description:</span> <%= @step_temp.description %></li>
		<li><span class='step_key'>Where:</span> <%= @step_temp.location %></li>
		<li><span class='step_key'>Duration:</span> <%= @step_temp.duration %> mins</li>
	</ul>
</div>