<div class='row green round'>
	
	<h3 class='large-offset-1'><%= link_to 'Ritual Title' %></h3>

	<div id='starting_level' class='large-8 large-offset-2 columns box bottom-breath'>
		<h5>Pick Your Starting Level</h5>
		<div id='entry_slider' class='large-8 large-offset-2 columns'></div>
		<input id='entry_slider' class='large-8 large-offset-2 columns' type='range' min='0' step='1' max='10'/>
		<div id='min_legend' class='large-1 large-offset-1 columns'>
			<p>0</p>
		</div>
		<div id='max_legend' class='large-1 columns'>
			<p>10</p>
		</div>

	</div>
	<div class='grid_placeholder large-2 columns'></div>
		
	<div id='check_in_time' class='large-8 large-offset-2 columns box bottom-breath'>
		<h5>Check In Time:</h5>
	</div>
	<div class='grid_placeholder large-2 columns'></div>
	

	<div id='implement_button' class='large-6 large-offset-3 columns button'>Begin</div>
	<div class='grid_placeholder large-3 columns'></div>

</div>