<div class='row green round'>
	
	<h3 class='large-offset-1 program-title'><%= link_to @program.title, @program %></h3>

	<div id='starting_level' class='large-8 large-offset-2 columns box bottom-breath'>
		<h5>Pick Your Starting Level</h5>
		<p class='large-5 columns'>This is where you input how you rate where you are currently so we can track how the ritual affects this portion of your life.</p>
		<div id='entry_slider' class='large-8 large-offset-2 columns'></div>

		<div id='min_legend' class='large-2 large-offset-1 columns'>
			<ul>
				<li class='legend-num'>0</li>
				<li class='legend-descrip'>min legend</li>
			<ul>
		</div>

		<div id='slider_val' class='large-6 columns center'>0</div>

		<div id='max_legend' class='large-2 columns left'>
			<ul>
				<li class='legend-num'>10</li>
				<li class='legend-descrip'>max legend</li>
			</ul>
		</div>

	</div>

		
	<div id='check_in_time' class='large-8 large-offset-2 columns box bottom-breath'>
		<h5>Check In Time:</h5>
		<p class='large-5 columns'>Here input a time we can check in with you each day to see how you're doing.  It'll require an input of one number.</p>

	</div>

	

	<div id='implement_button' class='large-6 large-offset-3 columns button'>Begin</div>
	<div class='grid_placeholder large-3 columns'></div>

</div>

<script>
		$('#entry_slider').slider({max: 10});
		var value = $('#entry_slider').slider("option", "value");

		$('#entry_slider').on( "slidechange", function( event, ui ) {
			$('#slider_val').html(ui.value);
		});

		console.log(value);		
</script>




