<div class='row landing'>
	<div id='intro_box' class='large-3 small-6 large-offset-1 columns panel'><span>Rituals</span> are a 3 step process, done at a regular interval to improve a certain area of your life. <br><br>Just finish the "I want..." sentence and search to begin. 
	</div>

	<div id='search_area' class='large-7 small-left large-offset-1 columns'>
			<input id='search_box' class='large-9 small-6 columns' type='text' placeholder='...to get better sleep' />
			<label id='iwant' for="search_box" class='large-3 pull-9 columns'>I want</label>
			<div id='search_button' class='pink button large large-3 small-5 push-2 columns'>search</div>
	</div>
	
</div> <!-- end row -->