/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require_self
 *= require_tree .
 */

/* footer css */ 
html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

.push {
	height: 60px;
}

/* colors */
.green {
	background-color: #27ae60;
}

.sea_green {
	background-color: #16A085;
}

.pink {
	background-color: #d4116a;
}

.white {
	background-color: #fff;
}


/* floats and alignments */

.right {
	float: right;
	text-align: right;
}

.left {
	float: left;
}

.center {
	text-align: center;
}

/* spacing and marging and padding */

.bottom-breath {
	margin-bottom: 20px;
}

/* box and containers */
.round {
	border-radius: 5px;
}

.box {
 	border: 2px black solid;
}

.green_box {
 	border: 2px black solid;
 	border-radius: 5px;
 	background-color: #27ae60;
 }

/* lists */
ul {
	list-style: none;
}






