@import "variables";

.program-show {
	height: 100%;
	width: 100%;
	padding-top: 20px;
}

.program {
	border-radius: 10px;
	background-color: #ECF0F1;
	padding-right: 20px;
	padding-top: 20px;
	overflow: scroll;

}

.program_title {
	font-style: italic;
	text-decoration: underline;
}

.step {
	padding: 2px;
	padding-left:  20px;
	margin-bottom: 15px;
	border-radius: 20px;

	background-color: $my-blue;
}

.step:hover {
	background-color: $nephritis;
}

.step_key {
	font-weight: bold;
}


.frequency {
	font-style: italic;
	margin-bottom: 10px;
}

#total_duration {
	float: right;
}

#total_duration span {
	font-size: .8em;
	font-weight: normal;
}

#comments {
	background-color: #ccc;
	border: none;
}

#ritual_state {
	margin-top: 50px;
	margin-bottom: 15px;
}

#begin {
	background-color: $light-pink; 
}

#begin:hover {	
	background-color: $pink;
}

#already_implemented {
	font-size: 1.4em;
	font-style: italic;
	color: $denim;
	span {
		font-size: .7em;
	}
}