.rit_title {
	font-style: italic;
	text-decoration: underline;
}

.step {
	padding: 2px;
	padding-left:  20px;
	margin-bottom: 10px;
	border-radius: 20px;

	background-color: #ddd;
}


#begin {
	margin-top: 100px;
}

.frequency {
	font-style: italic;
}