$pink: #d4116a;
$light-pink: rgba(212, 17, 106, .7);
$green: #27ae60;

.ritual {
	border-radius: 10px;
	background-color: #fff;
	padding-right: 20px;
	padding-top: 20px;
	overflow: scroll;
}

.rit_title {
	font-style: italic;
	text-decoration: underline;
}

.step {
	padding: 2px;
	padding-left:  20px;
	margin-bottom: 15px;
	border-radius: 20px;

	background-color: #ccc;
}

.step:hover {
	background-color: $green;
}

.step_key {
	font-weight: bold;
}

#begin div {
	margin-top: 50px;
	background-color: $light-pink; 
}

#begin div:hover {
	background-color: rgba(212, 17, 106, .7);
	background-color: $pink;
}

.frequency {
	font-style: italic;
	margin-bottom: 10px;
}

#total_duration {
	float: right;
}

#total_duration span {
	font-size: .8em;
	font-weight: normal;
}