@import "variables";

#query {
	color: $my-blue;
}

#query span {
	color: $pink;
	font-style: italic;
}

.result {
	background-color: $cloudy-blue;
	border-radius: 20px;
}

.row .result {
	margin-bottom: 20px;
}

.result:hover{
	cursor: pointer;
	background-color: $orange-beat;
}

.result_description {
	color: black;
	margin-top: 10px;
	margin-bottom: 20px;
}

.search-arrow { 
	margin-top: 30px;
}
