@import "variables";

.user_show_ritual:hover{
	background-color: #ddd;
}

.user_show_ritual_title h3 {
	font-style: italic;
}

.user_show_ritual_data{
	
}

.rating {
	margin-right: 15px;
	background-color: #ddd;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	padding-left: 4px;
	padding-right: 4px;
}

.date {
	font-size: .7em;
}

.score {
	text-align: center;
}

.user_created_ritual {
	margin-right: 35px;
}

.user_created_ritual {
	a {
		color: $denim;
		font-weight: bold;
		font-style: italic;
	}
	a:hover {
		color: $my-blue;
	}
}

