<style>
.footer {
  position: absolute;
  bottom: -100px;
  background-color: black;
  width: 100%;
  color: white;
  font-size: 18px;
}

.footer ul {
  list-style: none;
}

.footer ul li {
  float: right;
  margin-right: 15px;
  margin-top: 10px;
}

</style>


<footer class="footer">
  <div>
    <ul style='float:right'>      
      <li>&nbsp &#x000A9 &nbsp </li>
      <li>jcbwebdev</li>
    </ul>
  </div>
</footer >